.think h2{
  align-items: center;
  text-align: center;
  justify-content: center;
}
.add{
    background-color:#E5F7F8;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: black;
    padding: 1.2rem 2.4rem;
    top: 1rem;
    right: 44rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-left: 45%;
    border-radius: 10px;
    

  }
  .add:hover{
    background-color: blueviolet;
  }
  
  .note{
    background-color:#CDCDCD;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 50px;
    height: 350px;
    width: 350px;
   margin-left: 40%;
   margin-top: 40px;

  }
  
  .note .tools{
    background-color: darkcyan;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    
  }
  
  .note .tools button{
    background-color: transparent;
    border: none;
    color: yellowgreen;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .note .tools button:hover{
    color: black;
    size: 30px;
  }
  
  .note .main{
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
  }
  
  .note textarea{
    outline: none;
    font-family: sans-serif;
    font-size: 1.3rem;
    border: none;
    height: 400px;
    width: 100%;
    
  }
  
  .note .hidden{
    display: none;
  }
  @media(max-width:400px){
    .add{
      margin-left: 30%;
      display: fixed;
    }
    .note{
      margin-left: 8px;
      display: fixed;

      
    }

  }
  .copy{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .copy span{
    color: tomato;
  }
